:root {
  --primary-text-color: #2e2f42;
  --title-text-color: #434455;
  --accept-color: #404bbf;
  --primary-brand: #4d5ae5;
  --light-mode-backgrounds: #f4f4fd;
  --section-padding: 120px 0;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.list {
  list-style: none;
  padding-left: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

/* --Logo-- */
.header {
  border-bottom: 1px solid #e7e9fc;
  max-height: 72px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.logo {
  color: var(--primary-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo .accent {
  color: var(--primary-brand);
}
.main-nav {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
}

.current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: 0;
}

.header-list {
  display: flex;
  margin-left: 76px;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  position: relative;

  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.header-link:hover,
.header-link:focus {
  color: var(--accept-color);
}
.current {
  color: var(--accept-color);
}

.address {
  margin-left: auto;
}
.address-list {
  display: flex;
}

.address-item:not(:last-child) {
  margin-right: 40px;
}
.address-link {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.address-link:hover,
.address-link:focus {
  color: var(--accept-color);
}

/* Hero */
.hero {
  background-color: var(--primary-text-color);
  text-align: center;
  padding: 188px 0;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  width: 496px;
  margin: 0 auto 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
}

.hero-btn {
  padding: 16px 32px;
  border: none;

  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand);
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms var(--timing-function);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accept-color);
}
/* works */

/* Quality */
.quality {
  padding: 120px 0;
}
.quality-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.qualite-item {
  width: 264px;
}
.qualite-div-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 112px;
  margin-bottom: 8px;

  background-color: #f4f4fd;
}

.quality-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.qualite-description {
  color: var(--title-text-color);

  line-height: 1.5;
}
/* what are we doing */
.work {
  padding-bottom: 120px;
}
.work-list {
  display: flex;

  gap: 24px;
}
.work-item {
  width: calc((100%-72) / 3);
  border: 1px solid #e7e9fc;
}
.work-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;

  text-transform: capitalize;
}

/* Our Team */
.team {
  background-color: var(--light-mode-backgrounds);
  padding: var(--section-padding);
  text-align: center;
}
.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-transform: capitalize;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  width: calc((100%-72px) / 4);

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-names {
  background-color: #ffffff;
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.team-description {
  color: var(--title-text-color);
  line-height: 1.5;
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.social-list-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--timing-function);
}
.social-list-icon {
  fill: #ffffff;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accept-color);
}
/* Custoners */
.customers {
  padding-top: 130px;
  padding-bottom: 120px;
  text-align: center;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;
}
.customer-list {
  display: flex;

  gap: 24px;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
  color: #8e8f99;
  border: 1px solid currentColor;
  border-radius: 4px;
  transition: color 250ms var(--timing-function);
}

.customer-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}
.customers-link:hover,
.customer-link:focus {
  color: #404bbf;
}

/* Footer */
.footer {
  background-color: var(--primary-text-color);
  padding: 100px 0;
}
.footer-content {
  display: flex;
}
.footer-text {
  max-width: 264px;
  min-height: 110px;
}
.footer-logo {
  color: var(--light-mode-backgrounds);
  margin-bottom: 16px;
}
.footer-description {
  color: #e7e9fc;
  line-height: 1.5;

  margin-top: 16px;
}
.social-media {
  margin-left: 120px;
}
.social-media-description {
  font-weight: 500;
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 16px;
}
.social-media-list {
  display: flex;
  gap: 16px;
}

.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}
.social-media-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
.subscribe {
  margin-left: 80px;
}

.subscribe-form {
  display: flex;
  min-width: 264px;
  height: 40px;
}

.subscribe-input {
  min-width: 264px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 8px 16px;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}
.subscribe-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  font-style: 400;
}
.subscribe-btn {
  position: relative;
  display: flex;
  margin-left: 24px;
  background-color: var(--primary-brand);
  color: #fff;
  padding: 8px 24px;
  letter-spacing: 0.04em;
  width: 165px;
  height: 40px;
  align-items: center;
  transition: background-color 250ms var(--timing-function);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--accept-color);
}
.send-icon {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  width: 24px;
  height: 20px;
}

/*--------- page PORTFOLIO ------*/

.projects {
  padding-top: 96px;
  padding-bottom: 120px;
}
.projects-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.projects-btn {
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  color: var(--primary-brand);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--light-mode-backgrounds);
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}
.projects-btn:hover,
.projects-btn:focus {
  background-color: var(--accept-color);
  color: #ffffff;
  box-shadow: 0px 2px 1px 2px rgba(46, 47, 66, 0.15),
    1px 1px 1px 0px rgba(46, 47, 66, 0.16),
    3px 1px 6px 0px rgba(46, 47, 66, 0.15);
}
.projects-btn:active {
  background-color: var(--accept-color);
  color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.works-list a {
  text-decoration: none;
}
.works-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.works-link {
  display: block;
  box-shadow: none;
  transition: box-shadow 250ms var(--timing-function);
}
.works-link:hover,
.works-link:focus {
  box-shadow: 0px 2px 1px 1px rgba(46, 47, 66, 0.2),
    0px 2px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.works-thumb {
  position: relative;
  overflow: hidden;
}

.works-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  line-height: 1.5;
  color: var(--light-mode-backgrounds);
  opacity: 0;
  background-color: var(--primary-brand);
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function), color 250ms var(--timing-function);
}

.works-link:hover .works-text,
.works-link:focus .works-text {
  opacity: 1;
  transform: translateY(0);
}

.works-item {
  width: 360px;
  height: 420px;
}
.works-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.works-title {
  margin-bottom: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-text-color);
}
.works-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;

  line-height: 1.5;
  color: var(--title-text-color);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  height: 584px;
  width: 408px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
  box-shadow: 0px 1px 2px 0px #00000033;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
  padding: 72px 24px 24px 24px;
}

.backdrop-icon {
  width: 8px;
  height: 8px;
  fill: #000;
}
.backdrop-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #e7e9fc;
  width: 24px;
  height: 24px;
  margin-left: auto;
  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}
.backdrop-btn:hover,
.backdrop-btn:focus {
  fill: #fff;
  background-color: var(--accept-color);
}
.form-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;

  margin-bottom: 16px;
}

.form-wrap {
  margin-bottom: 8px;
}

.form-label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-imput {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color, 250ms, --timing-function;
}
.form-imput:is(:hover, :focus) {
  border-color: var(--primary-brand);
}
.form-imput:is(:hover, :focus) + .form-icon {
  fill: var(--primary-brand);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
  transition: fill 250ms var(--timing-function);
}
.form-group {
  position: relative;
  margin-top: 4px;
}
.form-textarea {
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 4px;
  resize: none;
  outline: transparent;
  transition: border-color, 250ms, --timing-function;
}
.form-textarea:is(:hover, :focus) {
  border-color: var(--primary-brand);
}
.form-textarea::placeholder {
  transition: color 250ms var(--timing-function);
}
.form-textarea:is(:hover, :focus)::placeholder {
  color: var(--primary-brand);
}

.checkbox-wrap {
  margin-bottom: 24px;
}
.form-wrap-textarea {
  margin-bottom: 16px;
}
.check-box {
  display: flex;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}
.check-box + svg {
  opacity: 0;
}
.check {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  transition: all 250ms --timing-function;
}
.check-input:checked + .check-box {
  background-color: #404bbf;
  border-color: #404bbf;
  opacity: 1;
}
.check-input:is(:hover, :focus) + .check-box {
  box-shadow: 0px 4px 4px 0px #00000040;
  transition: all, 250ms, --timing-function;
}
.form-link {
  color: var(--primary-brand);
}
.form-btn {
  padding: 16px 32px;
  border: none;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand);
  cursor: pointer;
  margin: 0 auto;
  min-width: 169px;
  min-height: 56px;
  transition: background-color 250ms var(--timing-function);
}
.maodal-btn:hover,
.modal-btn:focus {
  background-color: var(--accept-color);
}
