@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }
  .header-list {
    display: flex;
    margin-left: 120px;
  }
  .header-link {
    font-size: 16px;
  }
  .address-link {
    font-size: 12px;
    line-height: 1.33;
  }

  .menu-button {
    display: none;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .current::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 40px;
  }
  .hero {
    max-width: 768px;
    height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }
  .quality {
    padding: 96px 0;
  }
  .qualite-div-icon {
    display: none;
  }

  .qualite-description {
    font-weight: 500;
  }
  .qualite-item {
    width: 356px;
  }
  .quality-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .work {
    display: none;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
  .customer-list {
    column-gap: 24px;
  }
  .customers-link {
    width: 168px;
  }

  .footer-content {
    max-width: 582px;
    justify-content: flex-start;
    column-gap: 24px;
  }
  .footer-logo {
    justify-content: start;
  }
  .footer-description {
    margin-top: 0;
  }
  .social-media {
    text-align: start;
  }
  .subscribe-input {
    max-width: 264px;
  }
  .subscribe-form {
    flex-direction: row;
    column-gap: 24px;
    align-items: baseline;
  }
  .subscribe {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .modal {
    max-width: 408px;
  }
}
@media screen and (min-width: 758px) and (max-width: 1199) {
  .address-list {
    margin-top: 24px;
    margin-bottom: 10px;
  }
}
